/* RESET BASICO */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background:#f2f2f2;
}

/* CONTROLES */

#controls{
    margin-bottom:20px;
}

button, select{
    padding:10px;
    font-size:1rem;
}

/* TABLERO */

.board{
    width:90vmin;
    height:90vmin;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);

    gap:8px;
}

/* CELDAS */

.cell{
    background:white;
    border:3px solid black;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;
    overflow:hidden;
}

.cell:hover{
    background:#f5f5f5;
}

.cell.filled{
    cursor:not-allowed;
}

/* IMAGENES X Y O */

.pieza{
    width:70%;
    height:70%;
    object-fit:contain;

    opacity:0;
    animation:aparecer 0.25s ease forwards;
}

/* ANIMACION */

@keyframes aparecer{
    from{
        opacity:0;
        transform:scale(0.3);
    }
    to{
        opacity:1;
        transform:scale(1);
    }
}
